<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="bos_web">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="bos_service-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/bos_service/bos_service">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="bos_dao-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/bos_dao/bos_dao">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="bos_utils-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/bos_utils/bos_utils">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="bos_domain-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/bos_domain/bos_domain">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="crm_client-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/crm_client/crm_client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="bos_web"/>
        <property name="java-output-path" value="/bos_web/target/classes"/>
    </wb-module>
</project-modules>
